[Unit]
Description=Check internet connectivity
After=network.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/connect_check.py

[Install]
WantedBy=multi-user.target
