[Unit]
Description=Check internet connectivity
Wants=network-online.target
After=network-online.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/pi/connect_check.py

[Install]
WantedBy=multi-user.target
